<div class='container-fluid recuperation'>
    <div class='row login-content'>
        <div class='col-sm-7 login-content-left'>
            <div class='row login-content-left-bg'>
                <img src="../../../assets/img/logo_white.png" class='img-cegape' alt='Logo CEGAPE' />
            </div>
        </div>
        <div class='col-sm-5 login-content-right'>
            <div class='login-content-right-position'>
                <div class="mb-3">
                    <h1 class='text-center'>RECUPERATION DU COMPTE</h1>
                </div>
                <br />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text icone-input" id="basic-addon1">&nbsp;<i class="fa fa-envelope fa-cegape" aria-hidden="true"></i>&nbsp;</span>
                    </div>
                    <input type="email" class="form-control input-cegape" placeholder="Adresse email" aria-label="email" aria-describedby="basic-addon1" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text icone-input" id="basic-addon1">&nbsp;<i class="fa fa-envelope fa-cegape" aria-hidden="true"></i>&nbsp;</span>
                    </div>
                    <input type="email" class="form-control input-cegape" placeholder="Confirmez votre adresse email" aria-label="Confirmez votre adresse email" aria-describedby="basic-addon1" />
                </div>
                <div class="input-group mb-3">
                    <button class='btn btn-warning w-100 btn-cegape btn-sm text-light'>Valider</button>
                </div>
                <hr />
                <div class='row'>
                    <div class="col-sm-6">
                        <a class='btn btn-primary w-100 btn-cegape btn-sm' href='/login'>Se connecter</a>
                    </div>
                    <div class="col-sm-6">
                        <a class='btn btn-success w-100 btn-cegape btn-sm' href='/inscription'>Créer un compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>