<div class="mt-4">
    <ul class="nav nav-pills w-98 m-auto tabs">
        <li class="nav-item">
            <a class="nav-link no-border-radius nav-link-tabs active" data-bs-toggle="pill"
                href="#suivi_trajectoire">
                Suivi de la trajectoire
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link no-border-radius nav-link-tabs" data-bs-toggle="pill"
                href="#options_rectifications">
                Options de rectifications
            </a>
        </li>
    </ul>
</div>
<div class="tab-content tabs-content">
    <div class="tab-pane container-fluid bg-white w-100 pad-1 active" id="suivi_trajectoire">
        <app-suivi-trajectoire></app-suivi-trajectoire>
    </div>
    <div class="tab-pane container-fluid bg-white w-100 pad-1 fade" id="options_rectifications">
        <app-options-rectifications></app-options-rectifications>
    </div>
</div>