<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-sm-3">
            <ul class="search-param">
                <li class="search-fixed"><input type="text" class="form-control no-border-radius" placeholder="Rechercher" /></li>
            </ul>
            <ul class="liste-param">
                <li class="data active">1</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
                <li class="data">2</li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="card border-secondary no-border-radius">
                <div class="card-header"><i class="fa fa-edit" aria-hidden="true"></i> TITRE</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table id="parametragesTable" class="table table-bordered table-striped align-middle">
                                <thead>
                                    <tr>
                                        <th class="sort-parametrages">
                                            CODE <i class="fa fa-sort float-end" aria-hidden="true"></i>
                                        </th>
                                        <th class="sort-parametrages">
                                            LIBELLE COURT <i class="fa fa-sort float-end" aria-hidden="true"></i>
                                        </th>
                                        <th class="sort-parametrages">
                                            LIBELLE LONG <i class="fa fa-sort float-end" aria-hidden="true"></i>
                                        </th>
                                        <th class="sort-parametrages">
                                            OUVERTURE <i class="fa fa-sort float-end" aria-hidden="true"></i>
                                        </th>
                                        <th class="sort-parametrages">
                                            FERMETURE <i class="fa fa-sort float-end" aria-hidden="true"></i>
                                        </th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>XXXXX</td>
                                        <td>DZDZ</td>
                                        <td>XSCS</td>
                                        <td>12/07/2023</td>
                                        <td></td>
                                        <td class="text-center">
                                            <a class="btn btn-sm btn-warning text-white btn-tab"><i class="fa fa-eye"
                                                    aria-hidden="true"></i></a>
                                            <a class="btn btn-sm btn-secondary text-white btn-tab"><i class="fa fa-edit"
                                                    aria-hidden="true"></i></a>
                                            <a class="btn btn-sm btn-danger text-white btn-tab"><i class="fa fa-trash"
                                                    aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-outline-secondary w-100 no-border-radius"><i
                                    class="fa fa-plus" aria-hidden="true"></i> Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>