<div class="card border-dark w-100 mt-4 no-border-radius">
    <div class="card-header bg-primary text-light no-border-radius border-dark">Requêtes Pilotage Masse Salariale</div>
    <div class="card-body text-dark no-border-radius">
        <h5 class="card-title card-titre no-border-radius">Sélectionner une requête</h5>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr *ngFor="let requetePms of requetePmss">
                        <td class="w-20 pad-1">{{ requetePms.theme }} : </td>
                        <td class="w-50">
                            <select class="form-select no-border-radius" [(ngModel)]="requetePms.selectedElement">
                                <option *ngFor="let element of requetePms.elementsRequete" [ngValue]="element">{{ element.lien }}</option>
                            </select>
                        </td>
                        <td><button class="btn btn-outline-secondary w-25 no-border-radius" (click)="lancerRequete(requetePms.selectedElement)">Lancer</button></td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
</div>