<div class='container-fluid inscription'>
    <div class='row login-content'>
        <div class='col-sm-7 login-content-left'>
            <div class='row login-content-left-bg'>
                <img src="../../../assets/img/logo_white.png" class='img-cegape' alt='Logo CEGAPE' />
            </div>
        </div>
        <div class='col-sm-5 login-content-right'>
            <div class='login-content-right-position'>
                <div class="mb-3">
                    <h1 class='text-center'>INSCRIPTION</h1>
                </div>
                <br />
                <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text icone-input" id="basic-addon1">&nbsp;<i class="fa fa-user fa-cegape" aria-hidden="true"></i>&nbsp;</span>
                        </div>
                        <input type="text" class="form-control input-cegape" placeholder="Nom" aria-label="Nom" aria-describedby="basic-addon1" name="nom" [(ngModel)]="form.nom" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text icone-input" id="basic-addon1">&nbsp;<i class="fa fa-user fa-cegape" aria-hidden="true"></i>&nbsp;</span>
                        </div>
                        <input type="text" class="form-control input-cegape" placeholder="Prénom" aria-label="Prénom" aria-describedby="basic-addon1" name="prenom" [(ngModel)]="form.prenom" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text icone-input" id="basic-addon1">&nbsp;<i class="fa fa-envelope fa-cegape" aria-hidden="true"></i>&nbsp;</span>
                        </div>
                        <input type="email" class="form-control input-cegape" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" name="email" [(ngModel)]="form.email" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text icone-input" id="basic-addon1">&nbsp;<i class="fa fa-mobile fa-cegape" aria-hidden="true"></i>&nbsp;</span>
                        </div>
                        <input type="text" class="form-control input-cegape" placeholder="Téléphone" aria-label="Téléphone" aria-describedby="basic-addon1" name="telephone" [(ngModel)]="form.telephone" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text icone-input" id="basic-addon1">&nbsp;<i class="fa fa-tasks fa-cegape" aria-hidden="true"></i>&nbsp;</span>
                        </div>
                        <input type="text" class="form-control input-cegape" placeholder="Fonction" aria-label="Fonction" aria-describedby="basic-addon1" name="fonction" [(ngModel)]="form.fonction" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text icone-input" id="basic-addon1">&nbsp;<i class="fa fa-user fa-cegape" aria-hidden="true"></i>&nbsp;</span>
                        </div>
                        <input type="text" class="form-control input-cegape" placeholder="Nom d'utilisateur" aria-label="Nom d'utilisateur" aria-describedby="basic-addon1" name="username" [(ngModel)]="form.username" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text icone-input" id="basic-addon1">&nbsp;<i class="fa fa-key fa-cegape" aria-hidden="true"></i>&nbsp;</span>
                        </div>
                        <input type="password" class="form-control input-cegape" placeholder="Mot de passe" aria-label="Mot de passe" aria-describedby="basic-addon1" name="password" [(ngModel)]="form.password" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text icone-input" id="basic-addon1">&nbsp;<i class="fa fa-key fa-cegape" aria-hidden="true"></i>&nbsp;</span>
                        </div>
                        <input type="password" class="form-control input-cegape" placeholder="Confirmez votre mot de passe" aria-label="Confirmez votre mot de passe" aria-describedby="basic-addon1" name="passwordConfirm" [(ngModel)]="form.passwordConfirm" />
                    </div>
                    <div class="input-group mb-3">
                        <button class='btn btn-success w-100 btn-cegape btn-sm'>Valider</button>
                    </div>
                    <hr />
                </form>
                <div class="input-group mb-3">
                    <a class='btn btn-primary w-50 btn-cegape btn-sm' href='/login'>Se connecter</a>
                </div>
            </div>
        </div>
    </div>
</div>