body {
    background-color: #212529;
}

.login,
.inscription,
.recuperation {
    min-height: 100vh;
    background: url('./assets/img/fond1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.login-content {
    width: 75%;
    min-height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2.5px silver;
}

.login-content-left {
    background: url('./assets/img/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-content-left-bg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    min-height: 25vh;
}

.login-content-right {
    background-color: whitesmoke;
}

.login-content-right-position {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    padding: 5%;
}

.btn-cegape {
    margin: auto;
    border-radius: 100px;
}

.icone-input {
    border-radius: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.input-cegape {
    border-radius: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.input-cegape:focus {
    box-shadow: none;
    border-radius: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: solid 1px silver;
}

.img-cegape {
    width: 150px;
    height: 50px;
    margin-top: 2.5%;
    margin-left: 2.5%;
}

.fa-cegape {
    width: 25px !important;
}

.accueil {
    margin-bottom: 2.5%;
}

.w-99 {
    width: 99%;
}

.w-98 {
    width: 98%;
}

.w-97 {
    width: 97%;
}

.w-96 {
    width: 96%;
}

.w-95 {
    width: 95%;
}

.w-90 {
    width: 90%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}


.pad-1 {
    padding: 1%;
}

.pad-2 {
    padding: 2%;
}

.pad-3 {
    padding: 3%;
}

.pad-4 {
    padding: 4%;
}

.pad-5 {
    padding: 5%;
}

.mt-1 {
    margin-top: 1%;
}

.mt-2 {
    margin-top: 2%;
}

.mt-3 {
    margin-top: 3%;
}

.mt-4 {
    margin-top: 4%;
}

.mt-5 {
    margin-top: 5%;
}

.m-auto {
    margin: auto;
}

.card-titre {
    border-bottom: solid 1px #6c757d;
    padding: 0.5%;
    color: #6c757d;
}

.no-border-radius {
    border-radius: 0 !important;
}

select:focus,
input:focus {
    box-shadow: none !important;
    border: solid 1px #6c757d !important;
}

.tabs-content {
    border: solid 1px black;
}

.nav-link-tabs {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-top: solid 1px #ccc;
    color: black;
}

.tabs>.nav-item>.active {
    background-color: #ccc !important;
    color: black !important;
}

.tabs>.nav-item>a {
    width: 20em;
    text-align: center;
}

.tabs>.nav-item>a:hover {
    color: black;
}

.fa-check {
    background-color: green;
    border-radius: 100%;
    color: white;
    padding: 1%;
}

.contenu-fa {
    padding: 2%;
}

#parametragesTable_filter {
    float: right;
    margin-bottom: 1%;
}

.dt-buttons>.btn {
    border: solid 1px black;
    border-radius: 0;
    width: 10em;
}

.bg-gray {
    background-color: silver;
}

.btn-tab {
    margin-left: 2.5%;
    width: 2.5em;
}

input[type="search"],
input[type="text"] {
    border-radius: 0;
}

.campagne-modal {
    border: solid 5px black;
    padding: 1%;
}

.etape-numero {
    background-color: silver;
    color: black;
    width: 2.1em;
    height: 2.3em;
    padding: 2.3%;
    text-align: center;
    border-radius: 100%;
}

.etape-numero-actif {
    background-color: #ffc107;
}

.etape-titre {
    margin-left: 2.5%;
    font-size: 85%;
}

.etape-titre-actif {
    font-weight: bold;
}
