<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid w-95">
        <a class="navbar-brand" href="/accueil">
            <img src="../../../assets/img/logo_white.png" alt="Logo" class="img-logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ul-input-search">
                <li class="nav-item col-sm-4 col-xs-12">
                    <input type="text" class="form-control w-100" />
                </li>
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown col-sm-12 col-xs-12">
                        <a class="nav-link dropdown-toggle bg-light text-dark username" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Bonjour RABOANALY
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end drop-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item text-end" href="">
                                    Changer mon mot de passe <i class="fa fa-lock" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-end" href="">
                                    Mosaïques des modules <i class="fa fa-table" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-end" href="">
                                    A propos <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider hr-menu">
                            </li>
                            <li>
                                <a class="dropdown-item text-end" aria-current="page" (click)="deconnexion()" href="">
                                    Déconnexion <i class="fa fa-power-off" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>