<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-sm-2">
            <span class="align-middle bg-primary btn no-border-radius text-white">Rechercher par : </span>
        </div>
        <div class="col-sm-1">
            <select class="form-select no-border-radius">
                <option>Année</option>
            </select>
        </div>
        <div class="col-sm-1 text-center">
            <span class="align-middle text">Pour</span>
        </div>
        <div class="col-sm-1">
            <select class="form-select no-border-radius">
                <option>Année</option>
            </select>
        </div>
        <div class="col-sm-1">
            <select class="form-select no-border-radius">
                <option>Code</option>
            </select>
        </div>
        <div class="col-sm-1">
            <select class="form-select no-border-radius">
                <option>Statut</option>
            </select>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-outline-secondary w-100 no-border-radius">Rechercher</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-secondary w-100 no-border-radius" data-bs-toggle="modal"
                data-bs-target="#creer_campagne">
                <i class="fa fa-plus" aria-hidden="true"></i> Créer une campagne
            </button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-secondary w-100 no-border-radius">
                <i class="fa fa-plus" aria-hidden="true"></i> Créer un budget rectificatif
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="bg-gray">
                    <tr>
                        <th class="w-20">Année</th>
                        <th class="w-10">Code</th>
                        <th class="w-20">Libellé</th>
                        <th class="w-20">Auteur</th>
                        <th class="w-20">Statut</th>
                        <th class="w-10">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2023 pour 2024</td>
                        <td>01</td>
                        <td>Campagne prévision hautes</td>
                        <td>Monique PELLETIER</td>
                        <td>Brouillon</td>
                        <td>
                            <i class="fa fa-eye contenu-fa" aria-hidden="true"></i>
                            <i class="fa fa-edit contenu-fa" aria-hidden="true"></i>
                            <i class="fa fa-trash contenu-fa" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>2023 pour 2024</td>
                        <td>01</td>
                        <td>Campagne prévisions basses</td>
                        <td>Monique PELLETIER</td>
                        <td>Brouillon</td>
                        <td>
                            <i class="fa fa-eye contenu-fa" aria-hidden="true"></i>
                            <i class="fa fa-edit contenu-fa" aria-hidden="true"></i>
                            <i class="fa fa-trash contenu-fa" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>2023 pour 2024</td>
                        <td>01</td>
                        <td>Campagne prévisions XX</td>
                        <td>Monique PELLETIER</td>
                        <td>Brouillon</td>
                        <td>
                            <i class="fa fa-eye contenu-fa" aria-hidden="true"></i>
                            <i class="fa fa-edit contenu-fa" aria-hidden="true"></i>
                            <i class="fa fa-trash contenu-fa" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>2023 pour 2024</td>
                        <td>03</td>
                        <td>Campagne prévisions XXX</td>
                        <td>Monique PELLETIER</td>
                        <td>Brouillon</td>
                        <td>
                            <i class="fa fa-eye contenu-fa" aria-hidden="true"></i>
                            <i class="fa fa-edit contenu-fa" aria-hidden="true"></i>
                            <i class="fa fa-trash contenu-fa" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>2023 pour 2024</td>
                        <td>03</td>
                        <td>Campagne Delta</td>
                        <td>Monique PELLETIER</td>
                        <td>
                            En vigueur
                            <i class="fa fa-check float-end" aria-hidden="true"></i>
                        </td>
                        <td>
                            <i class="fa fa-eye contenu-fa" aria-hidden="true"></i>
                            <i class="fa fa-edit contenu-fa" aria-hidden="true"></i>
                            <i class="fa fa-trash contenu-fa" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade no-border-radius" id="creer_campagne" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl no-border-radius">
        <div class="modal-content no-border-radius">
            <div class="modal-header bg-success text-light no-border-radius">
                <h5 class="modal-title" id="exampleModalLabel">Création de campagne</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="etape-numero etape-numero-actif">1</label>
                        <label class="etape-titre etape-titre-actif">Définition de la campagne</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="etape-numero">2</label>
                        <label class="etape-titre">Socle</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="etape-numero">3</label>
                        <label class="etape-titre">Données de rémunération utilisées</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="etape-numero">4</label>
                        <label class="etape-titre">Récapitulatif</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3">
                        <label>Code</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-5">
                        <label>Libellé</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label>Date d'ouverture</label>
                        <input type="date" class="form-control" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3">
                        <label>Extension en année pleine</label>
                        <br/>
                        <input type="radio" class="btn-check" name="extensionAnnee" id="extensionAnneeOui"
                            autocomplete="on" checked />
                        <label class="btn btn-outline-primary btn-sm btn-switch no-border-radius"
                            for="extensionAnneeOui">OUI</label>

                        <input type="radio" class="btn-check" name="extensionAnnee" id="extensionAnneeNon"
                            autocomplete="off" />
                        <label class="btn btn-outline-primary btn-sm btn-switch no-border-radius"
                            for="extensionAnneeNon">NON</label>
                    </div>
                    <div class="col-sm-5">
                        La campagne couvre la période du [Année de début] ou
                    </div>
                    <div class="col-sm-4">
                        <select class="form-select">
                            <option>[Projection de la campagne]</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3"><button type="button" class="btn btn-secondary w-100 no-border-radius"
                                data-bs-dismiss="modal">Annuler</button></div>
                        <div class="col-sm-3"><button type="button"
                                class="btn btn-primary w-100 no-border-radius btn-suivant">Suivant</button>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>